### Section A: Data Types & Basic Operations (1–10)

## 1. Create a variable called name and assign it your name. Print it.

In [4]:
name = "Kevin M"
#remeber all strings have to be in either single or double quotation marks
print(name)

Kevin M

## 2. Create two integer variables and print their sum, difference, product, and division.

In [5]:
x = 5
y = 8
#ints dont have to be in quotation marks
sum = x + y
print(sum)

13

## 3. Write a program to swap two numbers without using a third variable.

In [7]:
a = 20
b = 30

a, b = b, a
'''
what happens above is we are working with the arithmetic operator 
python allows reassigning of variables so initially a is assigned 20 and b is assigned 30
when we have a, b the two variables hold 20, and 30 respectively and we re assign them to the same but new 
variables b and a which makes b to be 20 a to 30
'''
print("A =", a)
print("B =", b)

A = 30
B = 20

## 4. Write a program that takes user input for age and prints “Adult” if age ≥ 18, otherwise “Minor”.

In [9]:
age = int(input("Enter Age: "))
'''On the above question they are testing on variables input key word and  if else statement'''
if age >= 18:
    print("You are an Adult")
else:
    print("You are a Minor")

You are a Minor

## 5. Given a string "programming", print the number of times the letter 'g' appears.

In [13]:
"""The above is used to test if you know the keyword count or  for loop"""
string_p = "programming"
count_g = string_p.count('g')
print("G Appears", count_g, "Times")

G Appears 2 Times

you can use the lower one for interviews

In [11]:
text = "programming"
count_g = 0

for letter in text:
    if letter == 'g':
        count_g += 1

print("The letter 'g' appears", count_g, "times")

The letter 'g' appears 2 times

## 6. Write a program that converts a given string "100" to an integer and adds 25 to it.

In [15]:
'''The above question is to check if we can convert a string to int'''
str_Int = "100"
sum = int(str_Int) + 25
print("The sum of the string \"100\" and 25 is", sum)

The sum of the string "100" and 25 is 125

## 7. Write a program to find the largest number in the list [4, 9, 1, 7, 3].

In [17]:
numbers = [4, 9, 1, 7, 3] #we have initialised the list
largest = numbers[0] 
'''
we are creating a variable called largest and 
assigning it an initial value of the number that is on index 0
'''
for number in numbers:
    '''
    We are not using loop to check each value as 
    from index 0 from the list numbers we are temporarily storing the value in 
    a variable number and after confirming the number is the biggest we return it as the largest
    '''
    if number > largest:
        largest = number
        

print("The largest number is:", largest)

The largest number is: 9

## 8. Write a program to reverse the list [1, 2, 3, 4, 5].

In [25]:
lst = [1, 2, 3, 4, 5]
reversed_list = lst[::-1]
print(reversed_list)

[5, 4, 3, 2, 1]

In [26]:
lst = [1, 2, 3, 4, 5]
reversed_list =[]
for i in range(len(lst)-1,-1,-1):
    reversed_list.append(lst[i])
print("The reversed list is :", reversed_list)

The reversed list is : [5, 4, 3, 2, 1]

## 9. Create a dictionary with keys name, age, and country, and print the value of age.

In [31]:
'''This helps test if you can be able to access values in a dictionary
Dictionary syntax is key and values '''

person = {
    "name":"Kevni",
    "age":25,
    "country":"Kenya"
}
print(person["age"])

25

## 10. Write a program to convert a tuple (2, 4, 6, 8) into a list and print it.

In [33]:
tuplelist = (2, 4, 6, 8)
new_tuple_list = list(tuplelist)
print(new_tuple_list)

[2, 4, 6, 8]